<h2>Select your mathing:</h2>
<form method="post" action="/calculate/calculate-something"> <!--this is how you tell java where to go, sends the info to message-path -->
  <input type="text" name="submittedNumberOne" placeholder="0">
  <input type="text" name="submittedNumberTwo" placeholder="0">
  <button name="mathChoice" value="+">+</button>
  <button name="mathChoice" value="-">-</button>
  <button name="mathChoice" value="*">*</button>
  <button name="mathChoice" value="/">/</button>
  <button name="mathChoice" value="%">%</button>
  <button name="mathChoice" value="^">^</button>
  
</form> 
