<style>

h1 {

color:#4A235A;
font:Veranda;

}

</style>


<h1>Select your mathing:</h1>

<img src="https://media.giphy.com/media/wtCkMJthPKIRq/giphy.gif" alt="Tina Fey as Liz Lemon enjoying some night cheese.">  
<form method="post" action="/calculate/calculate-something"> <!--this is how you tell java where to go, sends the info to message-path -->
  <input autofocus type="number" name="submittedNumberOne" value="0" step="any" required>
  <input type="number" name="submittedNumberTwo" value="0" step="any" required>
  <button name="mathChoice" value="+">+</button>
  <button name="mathChoice" value="-">-</button>
  <button name="mathChoice" value="*">*</button>
  <button name="mathChoice" value="/">/</button>
  <button name="mathChoice" value="%">%</button>
  <button name="mathChoice" value="^">^</button>  
</form> 
